#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    > nav {
        background: #87bede;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        width: 100%;

        ul {
            display: flex;
        }

        a {
            color: #fff;
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            transition: background .2s;

            &:hover,
            &.active {
                background: rgba(#000, .5);
            }
        }
    }

    .employees-list {
        max-width: 80%;
        min-width: 400px;

        a.username {
            color: #0000ee;

            &:hover {
                color: #00aaaa;
            }
        }

        th {
            text-align: right;
        }

        th, td {
            padding: 5px 10px;
            text-align: right;
        }

        th:first-child, td:first-child {
            text-align: left;
        }

        a.button {
            background: #ccc;
            color: #000;
            display: inline-block;
            margin-right: 1px;
            padding: 5px 8px;
            text-decoration: none;
            transition: background .2s;

            &:hover {
                background: #ddd;
            }
        }

        a.delete {
            background: #cc0000;
            color: #fff;

            &:hover {
                background: #ff0000;
            }
        }
    }

    .user-details {
        form {
            align-content: flex-start;
            display: flex;
            flex-direction: column;
            justify-items: flex-start;

            p {
                align-items: center;
                display: flex;
                justify-content: flex-start;
            }
        }

        .label {
            width: 120px;
        }
    }

    .details {
        max-width: 80%;
        min-width: 400px;

        .comments {
            display: flex;
            flex-direction: column;
            padding-top: 30px;

            > form {
                margin-bottom: 20px;
            }

            p {
                align-items: flex-start;
                margin-bottom: 20px;

                a {
                    display: inline-block;
                    margin-top: 5px;
                }
            }
        }
    }

    .reviewers-selection {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        select {
            margin-right: 5px;
        }
    }
}
